body{
  background-color:#32CD32;
}
h1{
    color: green;
    font-size:16px;
}

li.heng {
    float:left;
    color: red;
    margin-left: 25px;
}
.toolbar{
    margin-top:5px;
}
p {margin-left: 20px}

span.welcome{
    color: blue;
}
ul li img{
    width:200px;
    height:100px;
}
.logo_img{
    width:75px;
    #background-image:url("/static/img/phoenix.jpg");
    #background-position:center center;
    #background-size:contain;
    #background-repeat:no-repeat;
}

.mainContext{
    border-bottom:solid 1px #BDBDBD;
    border-left:solid 1px #BDBDBD;
    border-right:solid 1px #BDBDBD;
    width:1080px;
    height:2300px;
    background-color:#FFFCEC;
    margin:0;
    padding: 0;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}
.leftContext{
    float: left;
    width: 700px;
    border-bottom: 1px solid #BDBDBD;
}
.leftContextdiv1{
    float: left;
    width: 750px;
    height:320px;
    border-bottom: 1px solid #BDBDBD;
}
.rightContext{
    float: right;
    width: 358px;
    height:2250px;
    border-left: 1px solid #BDBDBD;
}
.centerContext{
    float: left;
    width: 750px;
}
.title{
    text-align:center;
    height:60px;
    line-height:60px;
    font-size:32px;
    font-family:"Times New Roman",Georgia,Serif;
}
.dashline{
    border-bottom:1px dashed #000000;
    margin: 5px 30px 5px 30px
}

input.required{border:#999 1px solid; height:16px; width:120px;}
label{text-align:right;
    width:80px;
    float:left;
    margin-right:10px;
    }
.required{margin:5px auto;

}